@import 'tailwindcss';
@plugin 'daisyui';

@tailwind utilities;

/* 전역 폰트/배경 커스터마이징 */
body {
  @apply font-sans bg-linear-to-br from-gray-50 to-gray-200 text-gray-800;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #f9fafb inset;
  -webkit-text-fill-color: #111827;
  transition: background-color 5000s ease-in-out 0s;
}
